.first-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
}
 body{
   background-image: url(/image/web.gif);
   background-size: cover;
   background-attachment: fixed;

 }

 li{
   float: left;
 }

a{
  display: block;
  padding: 10px;
  background-color: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}